<div class="header"><h6>Корзина</h6></div>
<div class="check-list">
    <div class="bucket-labels container">
        <div class="product__name">
            Наименование
        </div>
        <div class="product__quantity">
            Кол-во
        </div>
        <div class="product__price">
            Цена-шт
        </div>
        <div class="product__multiple-price">
            Сумма
        </div>
    </div>
    <div class="bucket-product__border">
        <hr>
    </div>
    <div *ngFor="let product of products.values()" class="bucket-product container">
        <div class="bucket-product__elements">
            <div class="product__name">
                {{product.NAME}}
            </div>
            <div class="product__quantity">
                <div class="bucket-product__button">
                    <button (click)="decreaseQuantityFromBusket(product)" class="button"> < </button>
                </div>
                <div>
                    <input class="bucket-input" name="quantityField" min="1" [value]="product.QUANTITY" (change)="changeProductQuantity(product, $event)" pattern="[0-9]{1,3}" placeholder="type from 1 to 3-digit">
                </div>
                <div class="bucket-product__button">
                    <button (click)="addToBusket(product)" class="button"> > </button>
                </div>
                <div class="bucket-product__button">
                    <button (click)="deleteFromBusket(product.ID)" class="button-remove"> x </button>
                </div>
            </div>
            <div class="product__price">
                {{product.PRICE | rub}}
            </div>
            <div class="product__multiple-price">
                {{calculateMultipleProductPrice(product) | rub}}
            </div>
        </div>
        <div class="bucket-product__border">
            <hr>
        </div>
    </div>
    <div class="price container"> 
        <div class="price__element">
            Итого
        </div>
        <div class="price__element">
            {{resultPrice | rub}}
        </div>
    </div>
    <hr>
</div>
