<div class="container flex-box">
    <div class="product flex-element container" *ngFor="let product of products$ | async">
        <div class="product__picture">
            {{product.PICTURE}}
        </div>
        <div class="product__name">
            {{product.NAME}}
        </div>
        <div class="product__price">
            {{calculatePrice(product) | rub}}
        </div>
        <div class="product__buy-button">
            <button (click)="addProductToBusket(product)" class="button"> КУПИТЬ </button>
        </div>
    </div>
</div>

